@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

header {
    overflow: hidden;
}

h1 {
    margin: 30px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #333;
    margin-bottom: .25em;
}

.center {
    width: 50%;
    margin: 30px auto;
}

.search {
    padding: 10px;
    border-radius: 4px;
    background-color: #272727;
}

.search input {
    border: 0;
    outline: none;
    color: #fff;
    width: 100%;
    background: transparent;
}

ul {
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    /* 去除间隙 */
    font-size: 0;
    -webkit-text-size-adjust: none;
}

.menu li {
    color: #272727;
    font-size: 1rem;
    list-style-type: none;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    /* transition: font-size 0.3s, color 0.3s; */
    transition: color 0.3s;
}

.menu li:hover,
.menu-action {
    /* font-size: 1.1rem; */
    color: #fff !important;
}

@media only screen and (max-width: 960px) {
    .center {
        width: 80%;
    }
}

main {
    font-size: 0;
}

main a {
    width: 100%;
    margin: 6px auto;
    display: inline-block;
    font-size: 16px;
    /* margin: 0 5px 5px 0; */
    padding: 8px;
    /* border-radius: 4px; */
    border-bottom: 1px dashed #373737;
}

main a:link {
    color: #15120e;
    text-decoration: none;
    transition: color 0.3s;
}

main a:hover {
    color: #ffe3b0;
    /* box-shadow: 0 8px 20px -8px rgba(0,64,128,0.2); */
}

main a img {
    margin-top: -4px;
    margin-right: 4px;
}